ETL-prostore-filter-existing.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>d5ae3361-018a-1000-6465-81e370e83f1c</groupId>
    <name>ETL-prostore-filter-existing</name>
    <snippet>
        <connections>
            <id>8d465602-2d99-3e81-0000-000000000000</id>
            <parentGroupId>d08d2d35-c9f9-333f-0000-000000000000</parentGroupId>
            <versionedComponentId>8d465602-2d99-3e81-8f86-11f996d2d2ff</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ddb987d6-0d9f-34f2-0000-000000000000</groupId>
                <id>fdaa0d11-d606-33f3-0000-000000000000</id>
                <type>INPUT_PORT</type>
                <versionedComponentId>fdaa0d11-d606-33f3-8b84-7def83b4f64f</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>ae6194ef-47aa-3c99-0000-000000000000</groupId>
                <id>ed0b2d61-f25f-3183-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
                <versionedComponentId>ed0b2d61-f25f-3183-ba95-eae27d08b688</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>e2689ca5-b57c-3db4-0000-000000000000</id>
            <parentGroupId>d08d2d35-c9f9-333f-0000-000000000000</parentGroupId>
            <versionedComponentId>e2689ca5-b57c-3db4-803c-a58575e60ce6</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ae6194ef-47aa-3c99-0000-000000000000</groupId>
                <id>25ceb7bb-d44c-333b-0000-000000000000</id>
                <type>INPUT_PORT</type>
                <versionedComponentId>25ceb7bb-d44c-333b-8cea-0baba9e25b96</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>bdde7bca-39d7-3932-0000-000000000000</groupId>
                <id>9676a6ad-f61d-3f90-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
                <versionedComponentId>9676a6ad-f61d-3f90-9f29-3c053641d72f</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>da03a62c-112e-3fa2-0000-000000000000</id>
            <parentGroupId>d08d2d35-c9f9-333f-0000-000000000000</parentGroupId>
            <versionedComponentId>da03a62c-112e-3fa2-9c60-b8d91c1d457b</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.23.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
                        <name>kerberos-user-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>DBCPConnectionPool_from</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>${DATABASE_CONNECTION_URL_FROM}</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>${DATABASE_DRIVER_CLASS_NAME}</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>${DATABASE_DRIVER_LOCATION}</value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
                <entry>
                    <key>Database User</key>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <processGroups>
            <id>ae6194ef-47aa-3c99-0000-000000000000</id>
            <parentGroupId>d08d2d35-c9f9-333f-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>288.0</y>
            </position>
            <versionedComponentId>ae6194ef-47aa-3c99-9335-2b6bda3ca99b</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>40f7710f-df82-3d36-0000-000000000000</id>
                    <parentGroupId>ae6194ef-47aa-3c99-0000-000000000000</parentGroupId>
                    <versionedComponentId>40f7710f-df82-3d36-884b-bc66183db6fd</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1246.5000022116767</x>
                        <y>212.99999729307712</y>
                    </bends>
                    <bends>
                        <x>1246.5000022116767</x>
                        <y>262.9999972930771</y>
                    </bends>
                    <destination>
                        <groupId>ae6194ef-47aa-3c99-0000-000000000000</groupId>
                        <id>4e8508d4-4844-3583-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>4e8508d4-4844-3583-9061-fac6d258ddfb</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>ae6194ef-47aa-3c99-0000-000000000000</groupId>
                        <id>4e8508d4-4844-3583-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>4e8508d4-4844-3583-9061-fac6d258ddfb</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>48e88b8a-c013-3402-0000-000000000000</id>
                    <parentGroupId>ae6194ef-47aa-3c99-0000-000000000000</parentGroupId>
                    <versionedComponentId>48e88b8a-c013-3402-adc9-4521cc199f61</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>ae6194ef-47aa-3c99-0000-000000000000</groupId>
                        <id>ed0b2d61-f25f-3183-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>ed0b2d61-f25f-3183-ba95-eae27d08b688</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>ae6194ef-47aa-3c99-0000-000000000000</groupId>
                        <id>d0b3490f-c94c-3ad6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>d0b3490f-c94c-3ad6-b448-4ed6cc137cc3</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4aef3348-3cf1-3504-0000-000000000000</id>
                    <parentGroupId>ae6194ef-47aa-3c99-0000-000000000000</parentGroupId>
                    <versionedComponentId>4aef3348-3cf1-3504-b022-d53f0e139428</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>ae6194ef-47aa-3c99-0000-000000000000</groupId>
                        <id>4e8508d4-4844-3583-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>4e8508d4-4844-3583-9061-fac6d258ddfb</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>ae6194ef-47aa-3c99-0000-000000000000</groupId>
                        <id>25ceb7bb-d44c-333b-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>25ceb7bb-d44c-333b-8cea-0baba9e25b96</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6da6c206-7530-3456-0000-000000000000</id>
                    <parentGroupId>ae6194ef-47aa-3c99-0000-000000000000</parentGroupId>
                    <versionedComponentId>6da6c206-7530-3456-9e23-a9cd2ee25f37</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>ae6194ef-47aa-3c99-0000-000000000000</groupId>
                        <id>05e2b335-9e6a-35ae-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>05e2b335-9e6a-35ae-b4b2-0636fb79a69d</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>ae6194ef-47aa-3c99-0000-000000000000</groupId>
                        <id>d0b3490f-c94c-3ad6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>d0b3490f-c94c-3ad6-b448-4ed6cc137cc3</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>97a9dd98-fe3f-34bd-0000-000000000000</id>
                    <parentGroupId>ae6194ef-47aa-3c99-0000-000000000000</parentGroupId>
                    <versionedComponentId>97a9dd98-fe3f-34bd-829b-973eba757f08</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1251.1376953125</x>
                        <y>412.8083801269531</y>
                    </bends>
                    <bends>
                        <x>1251.1376953125</x>
                        <y>462.8083801269531</y>
                    </bends>
                    <destination>
                        <groupId>ae6194ef-47aa-3c99-0000-000000000000</groupId>
                        <id>e0d9a239-da6d-3cd4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e0d9a239-da6d-3cd4-98f9-718d5ec5a585</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>ae6194ef-47aa-3c99-0000-000000000000</groupId>
                        <id>e0d9a239-da6d-3cd4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e0d9a239-da6d-3cd4-98f9-718d5ec5a585</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9d652168-6363-329f-0000-000000000000</id>
                    <parentGroupId>ae6194ef-47aa-3c99-0000-000000000000</parentGroupId>
                    <versionedComponentId>9d652168-6363-329f-aeda-d9282ea3f5e4</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>ae6194ef-47aa-3c99-0000-000000000000</groupId>
                        <id>d0b3490f-c94c-3ad6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>d0b3490f-c94c-3ad6-b448-4ed6cc137cc3</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>ae6194ef-47aa-3c99-0000-000000000000</groupId>
                        <id>e0d9a239-da6d-3cd4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e0d9a239-da6d-3cd4-98f9-718d5ec5a585</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b7a3fe6e-677b-394d-0000-000000000000</id>
                    <parentGroupId>ae6194ef-47aa-3c99-0000-000000000000</parentGroupId>
                    <versionedComponentId>b7a3fe6e-677b-394d-a78a-5311ef591446</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>ae6194ef-47aa-3c99-0000-000000000000</groupId>
                        <id>e0d9a239-da6d-3cd4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e0d9a239-da6d-3cd4-98f9-718d5ec5a585</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>split</selectedRelationships>
                    <source>
                        <groupId>ae6194ef-47aa-3c99-0000-000000000000</groupId>
                        <id>4e8508d4-4844-3583-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>4e8508d4-4844-3583-9061-fac6d258ddfb</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <inputPorts>
                    <id>25ceb7bb-d44c-333b-0000-000000000000</id>
                    <parentGroupId>ae6194ef-47aa-3c99-0000-000000000000</parentGroupId>
                    <position>
                        <x>832.0</x>
                        <y>72.0</y>
                    </position>
                    <versionedComponentId>25ceb7bb-d44c-333b-8cea-0baba9e25b96</versionedComponentId>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>input port</name>
                    <state>RUNNING</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <outputPorts>
                    <id>ed0b2d61-f25f-3183-0000-000000000000</id>
                    <parentGroupId>ae6194ef-47aa-3c99-0000-000000000000</parentGroupId>
                    <position>
                        <x>1440.0</x>
                        <y>624.0</y>
                    </position>
                    <versionedComponentId>ed0b2d61-f25f-3183-ba95-eae27d08b688</versionedComponentId>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>output port transform</name>
                    <state>RUNNING</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>05e2b335-9e6a-35ae-0000-000000000000</id>
                    <parentGroupId>ae6194ef-47aa-3c99-0000-000000000000</parentGroupId>
                    <position>
                        <x>776.0</x>
                        <y>800.0</y>
                    </position>
                    <versionedComponentId>05e2b335-9e6a-35ae-b4b2-0636fb79a69d</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>
    <name>Log FlowFile Properties</name>
</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>
    <name>Output Format</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>v_validation_status, v_supplier_doc_id</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>Line per Attribute</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>Transformed</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#e9f50c</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>4e8508d4-4844-3583-0000-000000000000</id>
                    <parentGroupId>ae6194ef-47aa-3c99-0000-000000000000</parentGroupId>
                    <position>
                        <x>776.0</x>
                        <y>176.0</y>
                    </position>
                    <versionedComponentId>4e8508d4-4844-3583-9061-fac6d258ddfb</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JsonPath Expression</key>
<value>
    <name>JsonPath Expression</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JsonPath Expression</key>
<value>$.*</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Split json array</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>split</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#0e29f5</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.SplitJson</type>
                </processors>
                <processors>
                    <id>d0b3490f-c94c-3ad6-0000-000000000000</id>
                    <parentGroupId>ae6194ef-47aa-3c99-0000-000000000000</parentGroupId>
                    <position>
                        <x>776.0</x>
                        <y>584.0</y>
                    </position>
                    <versionedComponentId>d0b3490f-c94c-3ad6-b448-4ed6cc137cc3</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>v_validation_status</key>
<value>
    <name>v_validation_status</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>v_validation_status</key>
<value>${v_validation_status:plus(100)}</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Update attribute v_validation_status</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#0e29f5</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>e0d9a239-da6d-3cd4-0000-000000000000</id>
                    <parentGroupId>ae6194ef-47aa-3c99-0000-000000000000</parentGroupId>
                    <position>
                        <x>776.0</x>
                        <y>368.0</y>
                    </position>
                    <versionedComponentId>e0d9a239-da6d-3cd4-98f9-718d5ec5a585</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>t_validation_time</key>
<value>
    <name>t_validation_time</name>
</value>
                            </entry>
                            <entry>
<key>v_remd_id</key>
<value>
    <name>v_remd_id</name>
</value>
                            </entry>
                            <entry>
<key>v_supplier_doc_id</key>
<value>
    <name>v_supplier_doc_id</name>
</value>
                            </entry>
                            <entry>
<key>v_supplier_id</key>
<value>
    <name>v_supplier_id</name>
</value>
                            </entry>
                            <entry>
<key>v_validation_status</key>
<value>
    <name>v_validation_status</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>t_validation_time</key>
<value>$.t_validation_time</value>
                            </entry>
                            <entry>
<key>v_remd_id</key>
<value>$.v_remd_id</value>
                            </entry>
                            <entry>
<key>v_supplier_doc_id</key>
<value>$.v_supplier_doc_id</value>
                            </entry>
                            <entry>
<key>v_supplier_id</key>
<value>$.v_supplier_id</value>
                            </entry>
                            <entry>
<key>v_validation_status</key>
<value>$.v_validation_status</value>
                            </entry>
                        </properties>
                        <retriedRelationships>failure</retriedRelationships>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Extract rows to attributes</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>true</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#0e29f5</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Transform</name>
            <variables/>
        </processGroups>
        <processGroups>
            <id>bdde7bca-39d7-3932-0000-000000000000</id>
            <parentGroupId>d08d2d35-c9f9-333f-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>bdde7bca-39d7-3932-b297-043b06c0e004</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>786ba444-25ed-3b4c-0000-000000000000</id>
                    <parentGroupId>bdde7bca-39d7-3932-0000-000000000000</parentGroupId>
                    <versionedComponentId>786ba444-25ed-3b4c-970a-25a8609ba61d</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>869.0</x>
                        <y>319.0</y>
                    </bends>
                    <bends>
                        <x>869.0</x>
                        <y>369.0</y>
                    </bends>
                    <destination>
                        <groupId>bdde7bca-39d7-3932-0000-000000000000</groupId>
                        <id>377552c5-d3d4-3eff-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>377552c5-d3d4-3eff-a00b-d987bbda64a6</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>bdde7bca-39d7-3932-0000-000000000000</groupId>
                        <id>377552c5-d3d4-3eff-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>377552c5-d3d4-3eff-a00b-d987bbda64a6</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>79f42de0-d691-31e9-0000-000000000000</id>
                    <parentGroupId>bdde7bca-39d7-3932-0000-000000000000</parentGroupId>
                    <versionedComponentId>79f42de0-d691-31e9-bae3-417bc56387a7</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>869.0</x>
                        <y>119.0</y>
                    </bends>
                    <bends>
                        <x>869.0</x>
                        <y>169.0</y>
                    </bends>
                    <destination>
                        <groupId>bdde7bca-39d7-3932-0000-000000000000</groupId>
                        <id>5defe8f9-c095-3fb5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5defe8f9-c095-3fb5-a360-33978851a3bb</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>bdde7bca-39d7-3932-0000-000000000000</groupId>
                        <id>5defe8f9-c095-3fb5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5defe8f9-c095-3fb5-a360-33978851a3bb</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>bac0992a-4c03-3020-0000-000000000000</id>
                    <parentGroupId>bdde7bca-39d7-3932-0000-000000000000</parentGroupId>
                    <versionedComponentId>bac0992a-4c03-3020-9455-6bd7e87c972d</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>bdde7bca-39d7-3932-0000-000000000000</groupId>
                        <id>9676a6ad-f61d-3f90-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>9676a6ad-f61d-3f90-9f29-3c053641d72f</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>bdde7bca-39d7-3932-0000-000000000000</groupId>
                        <id>197b252d-1786-3487-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>197b252d-1786-3487-ac04-4502e4b18c9d</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d59936d2-8362-3689-0000-000000000000</id>
                    <parentGroupId>bdde7bca-39d7-3932-0000-000000000000</parentGroupId>
                    <versionedComponentId>d59936d2-8362-3689-8c80-5c7370bffb11</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>bdde7bca-39d7-3932-0000-000000000000</groupId>
                        <id>197b252d-1786-3487-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>197b252d-1786-3487-ac04-4502e4b18c9d</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>bdde7bca-39d7-3932-0000-000000000000</groupId>
                        <id>377552c5-d3d4-3eff-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>377552c5-d3d4-3eff-a00b-d987bbda64a6</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>fb2f464c-44eb-3842-0000-000000000000</id>
                    <parentGroupId>bdde7bca-39d7-3932-0000-000000000000</parentGroupId>
                    <versionedComponentId>fb2f464c-44eb-3842-9ff1-94e24cee5725</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>bdde7bca-39d7-3932-0000-000000000000</groupId>
                        <id>377552c5-d3d4-3eff-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>377552c5-d3d4-3eff-a00b-d987bbda64a6</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>bdde7bca-39d7-3932-0000-000000000000</groupId>
                        <id>5defe8f9-c095-3fb5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5defe8f9-c095-3fb5-a360-33978851a3bb</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <outputPorts>
                    <id>9676a6ad-f61d-3f90-0000-000000000000</id>
                    <parentGroupId>bdde7bca-39d7-3932-0000-000000000000</parentGroupId>
                    <position>
                        <x>1032.0</x>
                        <y>528.0</y>
                    </position>
                    <versionedComponentId>9676a6ad-f61d-3f90-9f29-3c053641d72f</versionedComponentId>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>output port</name>
                    <state>RUNNING</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>197b252d-1786-3487-0000-000000000000</id>
                    <parentGroupId>bdde7bca-39d7-3932-0000-000000000000</parentGroupId>
                    <position>
                        <x>400.0</x>
                        <y>488.0</y>
                    </position>
                    <versionedComponentId>197b252d-1786-3487-ac04-4502e4b18c9d</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>
    <name>Log FlowFile Properties</name>
</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>
    <name>Output Format</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>Line per Attribute</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>Extracted</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#effc00</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>377552c5-d3d4-3eff-0000-000000000000</id>
                    <parentGroupId>bdde7bca-39d7-3932-0000-000000000000</parentGroupId>
                    <position>
                        <x>400.0</x>
                        <y>280.0</y>
                    </position>
                    <versionedComponentId>377552c5-d3d4-3eff-a00b-d987bbda64a6</versionedComponentId>
                    <bundle>
                        <artifact>nifi-avro-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JSON container options</key>
<value>
    <name>JSON container options</name>
</value>
                            </entry>
                            <entry>
<key>Wrap Single Record</key>
<value>
    <name>Wrap Single Record</name>
</value>
                            </entry>
                            <entry>
<key>Avro schema</key>
<value>
    <name>Avro schema</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JSON container options</key>
<value>array</value>
                            </entry>
                            <entry>
<key>Wrap Single Record</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Avro schema</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertAvroToJSON</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#0515fa</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type>
                </processors>
                <processors>
                    <id>5defe8f9-c095-3fb5-0000-000000000000</id>
                    <parentGroupId>bdde7bca-39d7-3932-0000-000000000000</parentGroupId>
                    <position>
                        <x>400.0</x>
                        <y>80.0</y>
                    </position>
                    <versionedComponentId>5defe8f9-c095-3fb5-a360-33978851a3bb</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
<value>
    <name>sql-pre-query</name>
</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>
    <name>SQL select query</name>
</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
<value>
    <name>sql-post-query</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>
    <name>compression-format</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>
    <name>esql-max-rows</name>
</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>
    <name>esql-output-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>
    <name>esql-fetch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>
    <name>esql-auto-commit</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>da03a62c-112e-3fa2-0000-000000000000</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>select * from remd_validation_status;</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>false</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>10</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>true</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>10 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Extract from remd_validation_status</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>DISABLED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#00ff33</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Extract</name>
            <variables/>
        </processGroups>
        <processGroups>
            <id>ddb987d6-0d9f-34f2-0000-000000000000</id>
            <parentGroupId>d08d2d35-c9f9-333f-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>576.0</y>
            </position>
            <versionedComponentId>ddb987d6-0d9f-34f2-b202-c81d19c6c01b</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>e28c4564-ba44-3364-0000-000000000000</id>
                    <parentGroupId>ddb987d6-0d9f-34f2-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>91c326fb-7929-336d-0000-000000000000</groupId>
                        <id>49db91d9-2e89-3ffe-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>ddb987d6-0d9f-34f2-0000-000000000000</groupId>
                        <id>fdaa0d11-d606-33f3-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>fdaa0d11-d606-33f3-8b84-7def83b4f64f</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>fec0ee93-a963-3029-0000-000000000000</id>
                    <parentGroupId>ddb987d6-0d9f-34f2-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>66387320-4bab-340e-0000-000000000000</groupId>
                        <id>e531e413-2a39-3a5b-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>e531e413-2a39-3a5b-b875-664d337a32d2</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>91c326fb-7929-336d-0000-000000000000</groupId>
                        <id>4b21a146-dda5-37b6-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>53109ab1-783d-374a-0000-000000000000</id>
                    <parentGroupId>ddb987d6-0d9f-34f2-0000-000000000000</parentGroupId>
                    <versionedComponentId>53109ab1-783d-374a-8ab3-5bdf11f21e88</versionedComponentId>
                    <bulletinLevel>WARN</bulletinLevel>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>
<name>Schema Write Strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                            <value>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>
<dependencies>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>Schema Write Strategy</propertyName>
</dependencies>
<name>schema-protocol-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pretty Print JSON</key>
                            <value>
<name>Pretty Print JSON</name>
                            </value>
                        </entry>
                        <entry>
                            <key>suppress-nulls</key>
                            <value>
<name>suppress-nulls</name>
                            </value>
                        </entry>
                        <entry>
                            <key>output-grouping</key>
                            <value>
<name>output-grouping</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>
<name>compression-format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-level</key>
                            <value>
<dependencies>
    <dependentValues>gzip</dependentValues>
    <propertyName>compression-format</propertyName>
</dependencies>
<name>compression-level</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>JsonRecordSetWriter</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>no-schema</value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>1</value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>inherit-record-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>yyyy-dd-MM HH:mm:ss</value>
                        </entry>
                        <entry>
                            <key>Pretty Print JSON</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>suppress-nulls</key>
                            <value>never-suppress</value>
                        </entry>
                        <entry>
                            <key>output-grouping</key>
                            <value>output-array</value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>none</value>
                        </entry>
                        <entry>
                            <key>compression-level</key>
                            <value>1</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.json.JsonRecordSetWriter</type>
                </controllerServices>
                <controllerServices>
                    <id>a55b6cc7-ffeb-36c0-0000-000000000000</id>
                    <parentGroupId>ddb987d6-0d9f-34f2-0000-000000000000</parentGroupId>
                    <versionedComponentId>a55b6cc7-ffeb-36c0-8bb2-5ee64efc8a3d</versionedComponentId>
                    <bulletinLevel>WARN</bulletinLevel>
                    <bundle>
                        <artifact>nifi-dbcp-service-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>
<name>Database Connection URL</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>
<name>Database Driver Class Name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>
<name>database-driver-locations</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-user-service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
<name>kerberos-user-service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
<name>kerberos-credentials-service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-principal</key>
                            <value>
<name>kerberos-principal</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-password</key>
                            <value>
<name>kerberos-password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>
<name>Database User</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Password</key>
                            <value>
<name>Password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>
<name>Max Wait Time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>
<name>Max Total Connections</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                            <value>
<name>Validation-query</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-min-idle-conns</key>
                            <value>
<name>dbcp-min-idle-conns</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-max-idle-conns</key>
                            <value>
<name>dbcp-max-idle-conns</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-max-conn-lifetime</key>
                            <value>
<name>dbcp-max-conn-lifetime</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-time-between-eviction-runs</key>
                            <value>
<name>dbcp-time-between-eviction-runs</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-min-evictable-idle-time</key>
                            <value>
<name>dbcp-min-evictable-idle-time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-soft-min-evictable-idle-time</key>
                            <value>
<name>dbcp-soft-min-evictable-idle-time</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>DBCPConnectionPool_to</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>${DATABASE_CONNECTION_URL_TO}</value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>${DATABASE_DRIVER_CLASS_NAME}</value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>${DATABASE_DRIVER_LOCATION}</value>
                        </entry>
                        <entry>
                            <key>kerberos-user-service</key>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                        </entry>
                        <entry>
                            <key>kerberos-principal</key>
                        </entry>
                        <entry>
                            <key>kerberos-password</key>
                        </entry>
                        <entry>
                            <key>Database User</key>
                        </entry>
                        <entry>
                            <key>Password</key>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>500 millis</value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>8</value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                        </entry>
                        <entry>
                            <key>dbcp-min-idle-conns</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>dbcp-max-idle-conns</key>
                            <value>8</value>
                        </entry>
                        <entry>
                            <key>dbcp-max-conn-lifetime</key>
                            <value>-1</value>
                        </entry>
                        <entry>
                            <key>dbcp-time-between-eviction-runs</key>
                            <value>-1</value>
                        </entry>
                        <entry>
                            <key>dbcp-min-evictable-idle-time</key>
                            <value>30 mins</value>
                        </entry>
                        <entry>
                            <key>dbcp-soft-min-evictable-idle-time</key>
                            <value>-1</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
                </controllerServices>
                <inputPorts>
                    <id>fdaa0d11-d606-33f3-0000-000000000000</id>
                    <parentGroupId>ddb987d6-0d9f-34f2-0000-000000000000</parentGroupId>
                    <position>
                        <x>368.0</x>
                        <y>232.0</y>
                    </position>
                    <versionedComponentId>fdaa0d11-d606-33f3-8b84-7def83b4f64f</versionedComponentId>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>input port load</name>
                    <state>STOPPED</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <processGroups>
                    <id>66387320-4bab-340e-0000-000000000000</id>
                    <parentGroupId>ddb987d6-0d9f-34f2-0000-000000000000</parentGroupId>
                    <position>
                        <x>296.0</x>
                        <y>640.0</y>
                    </position>
                    <versionedComponentId>66387320-4bab-340e-bcfd-30dcdb96c40f</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>1bd9480b-c520-36c5-0000-000000000000</id>
                            <parentGroupId>66387320-4bab-340e-0000-000000000000</parentGroupId>
                            <versionedComponentId>1bd9480b-c520-36c5-b41f-ab80e178407a</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>66387320-4bab-340e-0000-000000000000</groupId>
<id>38129e6b-f056-373c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>38129e6b-f056-373c-89b3-e1a7c78c6174</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>66387320-4bab-340e-0000-000000000000</groupId>
<id>9b8457de-8b50-3a75-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>9b8457de-8b50-3a75-abb0-974a14df7372</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>3e46c648-c3b9-36ac-0000-000000000000</id>
                            <parentGroupId>66387320-4bab-340e-0000-000000000000</parentGroupId>
                            <versionedComponentId>3e46c648-c3b9-36ac-96f4-b27da4c0ebc3</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>66387320-4bab-340e-0000-000000000000</groupId>
<id>bb809688-a324-39e6-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>bb809688-a324-39e6-b157-4741362f4749</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>66387320-4bab-340e-0000-000000000000</groupId>
<id>38129e6b-f056-373c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>38129e6b-f056-373c-89b3-e1a7c78c6174</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>77142326-afec-3470-0000-000000000000</id>
                            <parentGroupId>66387320-4bab-340e-0000-000000000000</parentGroupId>
                            <versionedComponentId>77142326-afec-3470-ae8c-07385a342e59</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>810.7396240234375</x>
<y>604.9279479980469</y>
                            </bends>
                            <bends>
<x>810.7396240234375</x>
<y>654.9279479980469</y>
                            </bends>
                            <destination>
<groupId>66387320-4bab-340e-0000-000000000000</groupId>
<id>38129e6b-f056-373c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>38129e6b-f056-373c-89b3-e1a7c78c6174</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>retry</selectedRelationships>
                            <source>
<groupId>66387320-4bab-340e-0000-000000000000</groupId>
<id>38129e6b-f056-373c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>38129e6b-f056-373c-89b3-e1a7c78c6174</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>92803c28-8967-33cd-0000-000000000000</id>
                            <parentGroupId>66387320-4bab-340e-0000-000000000000</parentGroupId>
                            <versionedComponentId>92803c28-8967-33cd-a4b8-44fe02b1b514</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>66387320-4bab-340e-0000-000000000000</groupId>
<id>1105682a-34ab-3b51-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>1105682a-34ab-3b51-a6d6-6a8689327484</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>66387320-4bab-340e-0000-000000000000</groupId>
<id>bb809688-a324-39e6-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>bb809688-a324-39e6-b157-4741362f4749</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a944dddd-7dff-3251-0000-000000000000</id>
                            <parentGroupId>66387320-4bab-340e-0000-000000000000</parentGroupId>
                            <versionedComponentId>a944dddd-7dff-3251-8f2d-6d1420bc809c</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>66387320-4bab-340e-0000-000000000000</groupId>
<id>9b8457de-8b50-3a75-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>9b8457de-8b50-3a75-abb0-974a14df7372</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>66387320-4bab-340e-0000-000000000000</groupId>
<id>e531e413-2a39-3a5b-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>e531e413-2a39-3a5b-b875-664d337a32d2</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>bf9b9dab-c33d-3c31-0000-000000000000</id>
                            <parentGroupId>66387320-4bab-340e-0000-000000000000</parentGroupId>
                            <versionedComponentId>bf9b9dab-c33d-3c31-b598-346eea7eb2c1</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>813.0</x>
<y>807.0</y>
                            </bends>
                            <bends>
<x>813.0</x>
<y>857.0</y>
                            </bends>
                            <destination>
<groupId>66387320-4bab-340e-0000-000000000000</groupId>
<id>bb809688-a324-39e6-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>bb809688-a324-39e6-b157-4741362f4749</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>retry</selectedRelationships>
                            <source>
<groupId>66387320-4bab-340e-0000-000000000000</groupId>
<id>bb809688-a324-39e6-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>bb809688-a324-39e6-b157-4741362f4749</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>e531e413-2a39-3a5b-0000-000000000000</id>
                            <parentGroupId>66387320-4bab-340e-0000-000000000000</parentGroupId>
                            <position>
<x>400.0</x>
<y>248.0</y>
                            </position>
                            <versionedComponentId>e531e413-2a39-3a5b-b875-664d337a32d2</versionedComponentId>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>input port load</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <processors>
                            <id>1105682a-34ab-3b51-0000-000000000000</id>
                            <parentGroupId>66387320-4bab-340e-0000-000000000000</parentGroupId>
                            <position>
<x>344.0</x>
<y>960.0</y>
                            </position>
                            <versionedComponentId>1105682a-34ab-3b51-a6d6-6a8689327484</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.23.2</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Log Level</key>
        <value>
            <name>Log Level</name>
        </value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>
            <name>Log Payload</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
        <value>
            <name>Attributes to Log</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>
            <name>attributes-to-log-regex</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
        <value>
            <name>Attributes to Ignore</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
        <value>
            <name>attributes-to-ignore-regex</name>
        </value>
    </entry>
    <entry>
        <key>Log FlowFile Properties</key>
        <value>
            <name>Log FlowFile Properties</name>
        </value>
    </entry>
    <entry>
        <key>Output Format</key>
        <value>
            <name>Output Format</name>
        </value>
    </entry>
    <entry>
        <key>Log prefix</key>
        <value>
            <name>Log prefix</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Log Level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Log FlowFile Properties</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Output Format</key>
        <value>Line per Attribute</value>
    </entry>
    <entry>
        <key>Log prefix</key>
        <value>COMMITED</value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>25</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>LogAttribute</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#fafa05</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.LogAttribute</type>
                        </processors>
                        <processors>
                            <id>38129e6b-f056-373c-0000-000000000000</id>
                            <parentGroupId>66387320-4bab-340e-0000-000000000000</parentGroupId>
                            <position>
<x>344.0</x>
<y>576.0</y>
                            </position>
                            <versionedComponentId>38129e6b-f056-373c-89b3-e1a7c78c6174</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.23.2</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>JDBC Connection Pool</name>
        </value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
        <value>
            <name>putsql-sql-statement</name>
        </value>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>
            <name>Support Fragmented Transactions</name>
        </value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>
            <name>database-session-autocommit</name>
        </value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
        <value>
            <name>Transaction Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>
            <name>Obtain Generated Keys</name>
        </value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>
            <name>rollback-on-failure</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>a55b6cc7-ffeb-36c0-0000-000000000000</value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
        <value>upsert into remd_validation_status
values ('${v_supplier_id}', '${v_supplier_doc_id}', '${v_validation_status}', CAST('${t_validation_time}' AS TIMESTAMP), '${v_remd_id}');</value>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>false</value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>false</value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>false</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Upsert</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>retry</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#09e614</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.PutSQL</type>
                        </processors>
                        <processors>
                            <id>9b8457de-8b50-3a75-0000-000000000000</id>
                            <parentGroupId>66387320-4bab-340e-0000-000000000000</parentGroupId>
                            <position>
<x>344.0</x>
<y>376.0</y>
                            </position>
                            <versionedComponentId>9b8457de-8b50-3a75-abb0-974a14df7372</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.23.2</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>JDBC Connection Pool</name>
        </value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
        <value>
            <name>putsql-sql-statement</name>
        </value>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>
            <name>Support Fragmented Transactions</name>
        </value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>
            <name>database-session-autocommit</name>
        </value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
        <value>
            <name>Transaction Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>
            <name>Obtain Generated Keys</name>
        </value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>
            <name>rollback-on-failure</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>a55b6cc7-ffeb-36c0-0000-000000000000</value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
        <value>BEGIN DELTA;</value>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>false</value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>false</value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>false</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>1 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Open Delta</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>retry</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#09f01d</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.PutSQL</type>
                        </processors>
                        <processors>
                            <id>bb809688-a324-39e6-0000-000000000000</id>
                            <parentGroupId>66387320-4bab-340e-0000-000000000000</parentGroupId>
                            <position>
<x>344.0</x>
<y>768.0</y>
                            </position>
                            <versionedComponentId>bb809688-a324-39e6-b157-4741362f4749</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.23.2</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>JDBC Connection Pool</name>
        </value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
        <value>
            <name>putsql-sql-statement</name>
        </value>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>
            <name>Support Fragmented Transactions</name>
        </value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>
            <name>database-session-autocommit</name>
        </value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
        <value>
            <name>Transaction Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>
            <name>Obtain Generated Keys</name>
        </value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>
            <name>rollback-on-failure</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>a55b6cc7-ffeb-36c0-0000-000000000000</value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
        <value>COMMIT DELTA;</value>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>false</value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>false</value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>false</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Commit Delta</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>retry</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#0cf018</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.PutSQL</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <logFileSuffix></logFileSuffix>
                    <name>Prostore Load</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>91c326fb-7929-336d-0000-000000000000</id>
                    <parentGroupId>ddb987d6-0d9f-34f2-0000-000000000000</parentGroupId>
                    <position>
                        <x>296.0</x>
                        <y>360.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>00145856-7e12-339e-0000-000000000000</id>
                            <parentGroupId>91c326fb-7929-336d-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>91c326fb-7929-336d-0000-000000000000</groupId>
<id>0120366c-a289-3d73-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>91c326fb-7929-336d-0000-000000000000</groupId>
<id>f20fb60c-455a-3280-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f20fb60c-455a-3280-b8f3-08492e7e5b1a</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>03be1b68-f6c0-3ed0-0000-000000000000</id>
                            <parentGroupId>91c326fb-7929-336d-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>91c326fb-7929-336d-0000-000000000000</groupId>
<id>4b21a146-dda5-37b6-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>notExist</selectedRelationships>
                            <source>
<groupId>91c326fb-7929-336d-0000-000000000000</groupId>
<id>358de5f5-dcfb-335a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>19e0e427-7d12-38cf-0000-000000000000</id>
                            <parentGroupId>91c326fb-7929-336d-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>91c326fb-7929-336d-0000-000000000000</groupId>
<id>358de5f5-dcfb-335a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>91c326fb-7929-336d-0000-000000000000</groupId>
<id>0120366c-a289-3d73-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>1b839407-6fdc-3396-0000-000000000000</id>
                            <parentGroupId>91c326fb-7929-336d-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>91c326fb-7929-336d-0000-000000000000</groupId>
<id>f20fb60c-455a-3280-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f20fb60c-455a-3280-b8f3-08492e7e5b1a</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>91c326fb-7929-336d-0000-000000000000</groupId>
<id>49db91d9-2e89-3ffe-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>24507fd6-9d17-3f45-0000-000000000000</id>
                            <parentGroupId>91c326fb-7929-336d-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>1405.0</x>
<y>447.0</y>
                            </bends>
                            <bends>
<x>1405.0</x>
<y>497.0</y>
                            </bends>
                            <destination>
<groupId>91c326fb-7929-336d-0000-000000000000</groupId>
<id>0120366c-a289-3d73-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>91c326fb-7929-336d-0000-000000000000</groupId>
<id>0120366c-a289-3d73-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>439eed99-fac9-3f88-0000-000000000000</id>
                            <parentGroupId>91c326fb-7929-336d-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>1405.0</x>
<y>231.0</y>
                            </bends>
                            <bends>
<x>1405.0</x>
<y>281.0</y>
                            </bends>
                            <destination>
<groupId>91c326fb-7929-336d-0000-000000000000</groupId>
<id>f20fb60c-455a-3280-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f20fb60c-455a-3280-b8f3-08492e7e5b1a</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>91c326fb-7929-336d-0000-000000000000</groupId>
<id>f20fb60c-455a-3280-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f20fb60c-455a-3280-b8f3-08492e7e5b1a</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e3065271-4bbc-3a7c-0000-000000000000</id>
                            <parentGroupId>91c326fb-7929-336d-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>91c326fb-7929-336d-0000-000000000000</groupId>
<id>0151419a-15fd-3257-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>unmatched</selectedRelationships>
                            <source>
<groupId>91c326fb-7929-336d-0000-000000000000</groupId>
<id>358de5f5-dcfb-335a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>49db91d9-2e89-3ffe-0000-000000000000</id>
                            <parentGroupId>91c326fb-7929-336d-0000-000000000000</parentGroupId>
                            <position>
<x>992.0</x>
<y>96.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>input port filter</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <outputPorts>
                            <id>4b21a146-dda5-37b6-0000-000000000000</id>
                            <parentGroupId>91c326fb-7929-336d-0000-000000000000</parentGroupId>
                            <position>
<x>1576.0</x>
<y>672.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>output port filter</name>
                            <state>DISABLED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>0120366c-a289-3d73-0000-000000000000</id>
                            <parentGroupId>91c326fb-7929-336d-0000-000000000000</parentGroupId>
                            <position>
<x>936.0</x>
<y>408.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.23.2</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>jsonContent</key>
        <value>
            <name>jsonContent</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>jsonContent</key>
        <value>$.[0].isexist</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Extract json content to attributes</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#2665ed</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                        <processors>
                            <id>0151419a-15fd-3257-0000-000000000000</id>
                            <parentGroupId>91c326fb-7929-336d-0000-000000000000</parentGroupId>
                            <position>
<x>936.0</x>
<y>840.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.23.2</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Log Level</key>
        <value>
            <name>Log Level</name>
        </value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>
            <name>Log Payload</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
        <value>
            <name>Attributes to Log</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>
            <name>attributes-to-log-regex</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
        <value>
            <name>Attributes to Ignore</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
        <value>
            <name>attributes-to-ignore-regex</name>
        </value>
    </entry>
    <entry>
        <key>Log FlowFile Properties</key>
        <value>
            <name>Log FlowFile Properties</name>
        </value>
    </entry>
    <entry>
        <key>Output Format</key>
        <value>
            <name>Output Format</name>
        </value>
    </entry>
    <entry>
        <key>Log prefix</key>
        <value>
            <name>Log prefix</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Log Level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
        <value>v_supplier_id, v_supplier_doc_id</value>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
    </entry>
    <entry>
        <key>Log FlowFile Properties</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Output Format</key>
        <value>Line per Attribute</value>
    </entry>
    <entry>
        <key>Log prefix</key>
        <value>Found existing in Prostore</value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>25</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Log existing</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#eaf511</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.LogAttribute</type>
                        </processors>
                        <processors>
                            <id>358de5f5-dcfb-335a-0000-000000000000</id>
                            <parentGroupId>91c326fb-7929-336d-0000-000000000000</parentGroupId>
                            <position>
<x>936.0</x>
<y>632.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.23.2</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Routing Strategy</key>
        <value>
            <name>Routing Strategy</name>
        </value>
    </entry>
    <entry>
        <key>notExist</key>
        <value>
            <name>notExist</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Routing Strategy</key>
        <value>Route to Property name</value>
    </entry>
    <entry>
        <key>notExist</key>
        <value>${jsonContent:isEmpty()}</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>25</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>RouteOnAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>notExist</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>unmatched</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#11ceeb</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                        </processors>
                        <processors>
                            <id>f20fb60c-455a-3280-0000-000000000000</id>
                            <parentGroupId>91c326fb-7929-336d-0000-000000000000</parentGroupId>
                            <position>
<x>936.0</x>
<y>192.0</y>
                            </position>
                            <versionedComponentId>f20fb60c-455a-3280-b8f3-08492e7e5b1a</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.23.2</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>Database Connection Pooling Service</name>
        </value>
    </entry>
    <entry>
        <key>sql-pre-query</key>
        <value>
            <name>sql-pre-query</name>
        </value>
    </entry>
    <entry>
        <key>SQL select query</key>
        <value>
            <name>SQL select query</name>
        </value>
    </entry>
    <entry>
        <key>sql-post-query</key>
        <value>
            <name>sql-post-query</name>
        </value>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>
            <name>Max Wait Time</name>
        </value>
    </entry>
    <entry>
        <key>esqlrecord-record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>esqlrecord-record-writer</name>
        </value>
    </entry>
    <entry>
        <key>esqlrecord-normalize</key>
        <value>
            <name>esqlrecord-normalize</name>
        </value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>
            <name>dbf-user-logical-types</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>
            <name>dbf-default-precision</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>
            <name>dbf-default-scale</name>
        </value>
    </entry>
    <entry>
        <key>esql-max-rows</key>
        <value>
            <name>esql-max-rows</name>
        </value>
    </entry>
    <entry>
        <key>esql-output-batch-size</key>
        <value>
            <name>esql-output-batch-size</name>
        </value>
    </entry>
    <entry>
        <key>esql-fetch-size</key>
        <value>
            <name>esql-fetch-size</name>
        </value>
    </entry>
    <entry>
        <key>esql-auto-commit</key>
        <value>
            <name>esql-auto-commit</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>a55b6cc7-ffeb-36c0-0000-000000000000</value>
    </entry>
    <entry>
        <key>sql-pre-query</key>
    </entry>
    <entry>
        <key>SQL select query</key>
        <value>select 'exists' as isExist from remd_validation_status
where v_supplier_id = '${v_supplier_id}'
and v_supplier_doc_id = '${v_supplier_doc_id}';</value>
    </entry>
    <entry>
        <key>sql-post-query</key>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>0 seconds</value>
    </entry>
    <entry>
        <key>esqlrecord-record-writer</key>
        <value>53109ab1-783d-374a-0000-000000000000</value>
    </entry>
    <entry>
        <key>esqlrecord-normalize</key>
        <value>false</value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>false</value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>10</value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-max-rows</key>
        <value>1</value>
    </entry>
    <entry>
        <key>esql-output-batch-size</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-fetch-size</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-auto-commit</key>
        <value>true</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Find existing records by several params</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#0ee644</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.ExecuteSQLRecord</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Filter existing</name>
                    <variables/>
                </processGroups>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Load</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>09/28/2023 10:49:14 UTC</timestamp>
</template>
